.mi{
    color: white;
    text-align: end;
}

p{
    color: white;
    font-family: Arial;
}
.tab{
    color: red;
    font-weight: bold;
}
.lab{
    color: magenta;
    font-weight: bold;
}
.myspan{
    color: red;
    text-decoration: underline;
    font-weight: bold;
}
.hi{
    color: red;
    text-align: center;
}
body{
    background-color:#16365d;
}
.mispan{
    color: yellow;
}
.mospan{
    color: darkblue;
    font-weight: bold;
}
.mnspan{
    color: green;
    font-weight: bold;
}
.bam{
    background-color: black;
    color: white;
    width: 30%;
    padding: 10px;
    border-top: 5px solid red;
    border-left: 5px solid red;
}
.okispan{
    color: purple;
    font-weight: bold;
}
.hello{
    color: black;
    font-weight: bold;
    background-color: green;
    width: 100%;
    padding: 1px;
}
.bamix{
    color: green;
}
.hii{
    background-color: black;
    color: white;
    width: 100%;
    padding: 40px;
}
.bamby{
    border-bottom: 2px solid yellow;
    width: 50%;
    text-align: center;
    color: yellow;
}
.basiao{
    background-color: red;
    color: white;
    width: 100%;
    padding: 40px;
}