* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.logo {
    height: 50px;
}

@media (max-width: 480px) {
    .logo {
        height: 35px;
    }
}

.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 12px 20px;
    background: rgba(222, 2, 2, 0.35);
    backdrop-filter: blur(6px);
    z-index: 1000;
}

.navbar a {
    color: #ffffff;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    font-size: 0.95rem;
}

.navbar a:hover {
    color: black;
}

@media (max-width: 600px) {
    .navbar {
        gap: 12px;
        padding: 10px;
    }
    .navbar a {
        font-size: 0.8rem;
    }
}

.bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    overflow: hidden;
}

.bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.7);
}

.card-section {
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 60px 20px;
    flex-wrap: wrap;
}

.card-container {
    max-width: 1100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.card-container .card {
    position: relative;
    width: 300px;
    height: 250px;
    background: #fff;
    padding: 15px;
    border-radius: 6px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.4);
    transition: 0.3s ease;
    overflow: hidden;
}

.card-container .card:hover {
    height: 300px;
}

.card-container .imgBx {
    width: 100%;
    height: 250px;
    overflow: hidden;
    border-radius: 6px;
}

.card-container .imgBx img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card-container .content {
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
    text-align: center;
    margin-top: -50px;
}

.card-container .card:hover .content {
    opacity: 1;
    visibility: visible;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .card-container .card {
        width: 45%;
        height: 250px;
    }
}

@media (max-width: 500px) {
    .card-container .card {
        width: 90%;
        height: 250px;
    }
}
